/* ./src/app/App.css */

.app-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.app-header {
    padding: 10px;
    background: #cec;
    border-bottom: 1px solid #aca;
    display:flex;
    gap:10px;
    float: inherit;
    align-items:center;
}

.debug {
    background-color: red;
}

.button-std {
    padding:5px 15px;
    min-width: 100px;
    cursor: pointer;
    color: white;
    background-color: #363;
    
}
.button-std:hover {
    background-color: #575;
}
.input-js-file-url {
    width: 300px;
}

.app-header-title {
    margin: 0;
    font-size: 1.5rem;
    margin: auto;
    border: 0;
    padding: 5px;
}

.markdown-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.markdown-editor {
    /* 必須：折り返し設定の統一 */
    white-space: pre-wrap;      /* 端で折り返す */
    word-break: break-all;      /* 【重要】単語の途中でも強制的に改行する */
    overflow-wrap: break-word;  /* 念のため */
}
.markdown-editor,
.markdown-preview {
    flex: 1;
    display: flex;
    width: 49%;
    flex-direction: column;
    padding: 5px;
    background: #dfd;
    border-right: 1px solid #aca;
}
.markdown-editor-text-header,
.markdown-preview-text-header {
    padding: 10px;
    font-size: large;
}

.markdown-editor-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
}
.markdown-editor-text {
    flex: 1;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    font-size:16px;
    background: #fff;
}

.markdown-preview-text {
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
    overflow-y: auto;
    background: #999;
}


/* マークダウン内部の見た目 */

/* スペースの上に重ねるピリオドの設定 */
.markdown-visible-space {
    position: relative;
    top: -5px;
    left: 1px;
    display: inline;
}
.markdown-visible-space::before {
    content: ".";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #5999;
}
.markdown-visible-space::after {
    content: " ";
    position: absolute;
}