これはコメント

.app-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.app-header {
    padding: 10px;
    background: #cec;
    border-bottom: 1px solid #aca;
    display:flex;
    gap:10px;
    float: inherit;
    align-items:center;
}

.button-std {
    padding:5px 15px;
    cursor: pointer;
    color: white;
    background-color: #363;
    
}
.input-js-file-url {
    width: 300px;
}

h1 {
    margin:0;
    font-size:1.2rem;
    margin-right:auto;
}

.markdown-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.markdown-editor,
.markdown-preview
 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #dfd;
    border-right: 1px solid #aca;
}
.markdown-editor-text-header,
.markdown-preview-text-header {
    padding: 10px;
    font-size: large;
}

.markdown-editor-text {
    flex: 1;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    font-size:16px;
    background: #fff;
}

.markdown-preview-text {
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
    overflow-y: auto;
    background: #259;
}
